.checked {
  color: orange;
}

.unchecked {
  color: gray;
}

.star-content {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 0;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin: 15px 0;

  > span {
    display: inline-block;
    position: relative;
    width: 1.1em;

    &.checked:before, &.checked ~ span:before {
      content: "\2605";
      position: absolute;
    }
  }
}
