input {
  background: url("../../../assets/search-icon_gray.png") no-repeat 97% 50% #fff;
}
.form-control {
  min-width: 180px;
}
.check-box-content {
  padding: 7px 10px 0px 10px;
  label {
    padding: 0px 10px 0px 10px;
  }
}
